<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="costMapper">
  <update id="insertDiary" parameterType="cost">
  	MERGE INTO COST 
    USING DUAL
    ON ( ID = #{id} AND SUBMIT_DATE = #{date} )
    WHEN MATCHED THEN
    UPDATE SET A_FEED = A_FEED + #{a_Feed} ,  A_SNACK =   A_SNACK +#{a_Snack}  , B_DIAGNOSIS = B_DIAGNOSIS + #{b_Diagnosis} , B_VACCIN = B_VACCIN + #{b_Vaccin} , C_GROOMING = C_GROOMING + #{c_Grooming} , C_CLOTHES = C_CLOTHES + #{c_Clothes} , D_NUTRIENTS = D_NUTRIENTS + #{d_Nutrients} , D_POO = D_POO + #{d_Poo} , E_TRAINNING = E_TRAINNING + #{e_Trainning} , E_HOTEL = E_HOTEL + #{e_Hotel} , E_KINDERGARTEN = E_KINDERGARTEN + #{e_Kindergarten}
    WHEN NOT MATCHED THEN
    INSERT(ID , A_FEED , A_SNACK , B_DIAGNOSIS , B_VACCIN , C_GROOMING ,C_CLOTHES , D_NUTRIENTS , D_POO , E_TRAINNING , E_HOTEL , E_KINDERGARTEN , SUBMIT_DATE , DIARY_DAY , DIARY_MONTH , DIARY_YEAR ) 
    VALUES(#{id}, #{a_Feed} , #{a_Snack} , #{b_Diagnosis} , #{b_Vaccin} , #{c_Grooming} , #{c_Clothes} , #{d_Nutrients} , #{d_Poo} , #{e_Trainning} , #{e_Hotel} , #{e_Kindergarten} , #{date} , #{diary_day} , #{diary_month} , #{diary_year} ) 
  	</update>
  	
 <select id="selectDiary" parameterType="cost" resultType="cost">
SELECT * FROM COST
WHERE id = #{id} AND SUBMIT_DATE= #{date} 
 </select>
 
 <select id="icon_selectDiary" parameterType="cost" resultType="cost">
	SELECT
	*
	FROM
	COST
	WHERE
	id = #{id}
	AND
	SUBMIT_DATE= #{date} 
 </select>
  </mapper>
  
  
 