<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>댕댕 게시판</title>
<link rel="stylesheet" href="./resources/css/Dang_main.css?after" type="text/css" />


</head>
<body>
	<header>
		<nav>
			<ul>
				<a href="dang_main_non.html"><img src="./resources/imgs/dang5.png"></a>
				<li><a href='calendar.do'>달력</a></li>
				<li><a href='loginForm.do'>로그인</a></li>
				<li><a href='member.do'>회원가입</a></li>
			</ul>
		</nav>
	</header>
	<video muted autoplay loop>
		<source src="./resources/imgs/dog2.mp4" type="video/mp4">
	</video>
	<div class="jb-text">
		<h1 style="text-shadow: 0 0 6px grey">For your lovely pet</h1>
		<h3 style="text-shadow: 0 0 6px grey">당신의 사랑스런 친구를 위해.</h3>

	</div>
	<div class="container">

	<br>
	<br>
	<br>
		<div class="intro">"Pets, Just Enjoy The Life!" DangDangDiary
			aims to create a happy lifestyle. We respect and value healthy
			companionship between pets and people and we continuously strive to
			sustain this value through sincere communication. DangDangDiary는 즐거운
			라이프스타일을 지향합니다. 또한 이 가치가 지속 가능하도록 건강한 반려생활을 중시하고 배려하며, 반려 동물 및 반려인들과
			진정성 있는 소통을 합니다</div>
		<br> <br> <br>



		<div class="section1">
			사이트 소개 DANGDANGDIARY<br /> ―
			</h3>
			<p>
				<b>055-293-8813 / 카카오톡-댕댕 다이어리</b>
			</p>
			<p>mon - fri am 11:00 - pm 4:00</p>
			<p>lunch time pm 1:00 - pm 2:00</p>
			<p>
				<strong>sat, sun, holiday off</strong> DANGDANGDIARY<br /> ―
			</h3>
			<p>
				<b>055-293-8813 / 카카오톡-댕댕 다이어리</b>
			</p>
			<p>mon - fri am 11:00 - pm 4:00</p>
			<p>lunch time pm 1:00 - pm 2:00</p>
			<p>
				<strong>sat, sun, holiday off</strong>
		</div>
		<div class="section2">
			사료 광고 슬라이드 <br> <br> <br> <br> <br> <br>
			<br>
		</div>

		<footer>
			<div class="align">
				<div class="logo">
					<img src="./resources/imgs/dang5.png">
				</div>
				<div class="g1">
					<h3>
						DANGDANGDIARY<br /> ―
					</h3>
					<p>
						<b>055-293-8813 / 카카오톡-댕댕 다이어리</b>
					</p>
					<p>mon - fri am 11:00 - pm 4:00</p>
					<p>lunch time pm 1:00 - pm 2:00</p>
					<p>
						<strong>sat, sun, holiday off</strong>
					</p>
					<br>
				</div>
				<div class="g2">
					<h3>
						BANKING INFO<br /> ―
					</h3>
					<p>
						<b>농협</b>849-12-461504
					</p>
					<p>예금주 : 김문주</p>
				</div>
				<div class="g3">
					<h3>
						COMPANY INFO<br> ―
					</h3>
					<p>COMPANY 댕댕 다이어리 tel.055-293-8813 OWNER김문주</p> 
					<p>ADDRESS 경상남도
					창원시 마산회원구 내서읍 광려로 28 대동이미지 114동 1101호 </p> 
					<p>BUSINESS LICENCE. <b>608-17-80368</b>
					MAIL-ORDER LICENCE. 제 2009-경남마산-0006호 <a href="#" target="_blank">[사업자정보확인]</a>
					</p><p>WEB MASTER 김문주queenquilt@naver.com)호스팅 제공 : 심플렉스 인터넷(주)</p>
				</div>
			<br>
			<br>
			<br>
			<br>
			<br>
			</div>
		</footer>
	</div>
</body>
</html>